<!doctype html>
<html lang="{{- page.lang | default: site.lang -}}">
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{%- if page.title -%}{{ page.title }} — {% endif %} {{ site.title }}</title>
	{% seo title=false %}

	<link rel="stylesheet" href="{% link /assets/css/base.css %}" />
	<link rel="stylesheet" href="{% link /assets/css/layout.css %}" />
	<link rel="stylesheet" href="{%- link /assets/css/fonts.css -%}" />

      {% feed_meta %}
	{% json_feed_meta %}

    <style>
      body {
        color: {{ page.colors.fg }};
      }
    </style>
  </head>
  <body>
	<div class="hug" data-liquid="{{ value.object | strip: "" }}">
        <header class="site-header">
          {% if page.title %}
            <h3 class="site-title">
            <a href="{{ '/' | absolute_url }}">{{ site.title }}</a>
            </h3>
          {% else %}
            <h1 class="site-title">
            <a href="{{ '/' | absolute_url }}">{{ site.title }}</a>
            </h1>
          {% endif %}

          {% if site.nav %}
            <nav class="site-menu">
              {% for path in site.nav %}
                {% assign nav_page = site.pages | where: "path", path | first %}

                <a
                  class="menu-item {% if page.url == nav_page.url %}_current{% endif %}"
                  href="{{ nav_page.url | relative_url }}"
                >
                  {{ nav_page.title }}

                </a>
              {% endfor %}
            </nav>
          {% endif %}
        </header>
        <main class="site-content">
          {{ content }}
        </main>

        {% include footer.html %}
      </div>

      <script>
        console.debug("Last built {{ 'now' | date_to_xmlschema }}");
      </script>
  </body>
</html>
